---
layout: defaultGD
---

<div class="main-container col-12">

    <div class="home-highlight slideDown col-2"></div>
    <div id="home" class="main-section">
        <div class="time-roles col-8" data-depth="0.2">
            <div class="roles">
                graphic design
            </div>
            <div class="horizontal-line"></div>
            <div class="contact">
                a.c.fusato@gmail.com
            </div>
        </div>
        <div class="home-img col-6" data-depth="0.1">
            <div class="home-gif slideDown">
            </div>
            <div class="gif-shadow"></div>
        </div>
        <div class="year-title col-7" data-depth="0.6">
            <br>
            <div class="year slowSlide">
                20 <br> 20
            </div>
            <div class="vertical-line slowSlide"></div>
            <div class="title slowSlide">
                Port <br> folio
            </div>
        </div>
    </div>


    <div id="graphicDesign" class="main-section">
        <h2>Graphic Design</h2>

        <div class="GDrow chocolat-parent">
            <div class="thumbnail-wrapper">
                {% for block in site.data.graphic-design.gallery %}

                <a id="{{ block.name }}" class="chocolat-image chocolat-child" href="{{ block.image | asset_url }}"
                    title="{{ block.name }}">
                    <img class="thumbnailGD" src="{{ block.icon | asset_url }}" />
                </a>


                {% endfor %}
            </div>
            <div id="chocolat-container" class="chocolat-container">

            </div>
        </div>
    </div>
<!-- 
    <div id="uxUiCode" class="main-section">
        <h2>UX/UI/Code</h2>

        <div class="GDrow chocolat-parent">
            <div class="thumbnail-wrapper">
                {% for block in site.data.graphic-design.gallery %}

                <a id="{{ block.name }}" class="chocolat-image chocolat-child" href="{{ block.image | asset_url }}"
                    title="{{ block.name }}">
                    <img class="thumbnailGD" src="{{ block.icon | asset_url }}" />
                </a>

                {% endfor %}
            </div>
            <div id="chocolat-container2" class="chocolat-container">

            </div>
        </div>
    </div> -->

    <div id="about" class="main-section">
            <h2>About</h2>
        <div class="about-wrapper">
            <!-- <div class="col-8"> -->
            <div class="about-img" style="background-image: url('/assets/images/portrait.png')"></div>
            <div class="about-content responsive-hide-M">
                <div class="about-img responsive-hide-L" style="background-image: url('/assets/images/portrait.png')">
                </div>
                <span> Hi! I'm Alyssa, an aspiring user interface and experience designer.</span><br>
                <p>
                    <!-- <span> Hi! I'm Alyssa, an aspiring user interface and experience designer.</span><br> -->
                    I like to think of the creative challenges presented by my work as a combination
                    of two of my favorite things: puzzles and art. Whether it's by overhauling a site,
                    designing a framework for organizing office supplies or rearranging the furniture
                    in my house, I'm always looking for ways to improve the systems I come into
                    contact with. <br> <br>
                    Work aside, I also have a great love for psychology, philosophy, hand-drawn
                    animation, and wacky puzzle games. <br> <br>
                    Drop me a line or request a resume at
                    <a href="mailto:a.c.fusato@gmail.com">a.c.fusato@gmail.com</a>!
                </p>
            </div>
            <!-- </div> -->

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#lightgallery").lightGallery({
            selector: '.gallery-link',
            thumbnail: false,
            animateThumb: false,
            showThumbByDefault: false
        });

        var slideDown = {
            interval: 60,
            distance: '50px',
            delay: 10,
            origin: 'top',
            opacity: 0,
            duration: 800,
            easing: 'ease-in-out'
        }

        var slowSlide = {
            interval: 150,
            distance: '80px',
            delay: 150,
            origin: 'top',
            opacity: 0,
            duration: 1000,
            easing: 'ease-in-out'
        }

        var easeIn = {
            interval: 60,
            distance: '10px',
            delay: 10,
            origin: 'top',
            opacity: 0,
            duration: 1000,
            easing: 'ease-out',
            reset: true,
        }

        ScrollReveal().reveal('.gallery-item', slideDown);
        ScrollReveal().reveal('.project-item', slideDown);
        ScrollReveal().reveal('.slowSlide', slowSlide);
        ScrollReveal().reveal('.slideDown', easeIn);

        var scene = document.getElementById('home');
        var parallaxInstance = new Parallax(home);
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        Chocolat(document.querySelectorAll('.chocolat-parent .chocolat-image'), {
            container: document.querySelector('#chocolat-container'),
            loop: true,
            imageSize: 'contain',
            allowZoom: true,
            firstImageIndex: 1,
            firstImageIndex: 2,
            setTitle: function () { return 'Graphic Design' }
        })
        // Chocolat(document.querySelectorAll('.chocolat-parent .chocolat-image'), {
        //     container: document.querySelector('#chocolat-container2'),
        //     loop: true,
        //     imageSize: 'contain',
        //     allowZoom: true,
        //     firstImageIndex: 1,
        //     setTitle: function () { return 'UX/UI/Code' }
        // })

    })

    // function myFunction() {
    //         document.getElementById("demo").innerHTML = "Hello World";
    //     }
</script>