<!-- Dynamic hero image- Grid layout? Gallery that changes upon refresh -->
<section id="home" class="hero">

    <header id="hero-top">
        <a id="logo" href="#">logo</a>

    </header>
    <header class="hero-header">
        <h1 class="hero-title-alt"> Alyssa's </h1>
        <h1 class="hero-title"> site stuff </h1>
    </header>

    <footer class="hero-footer">
        <a class="button button-primary" href="#">button one</a>
        <a class="button" href="#">button two</a>
    </footer>

</section>