<nav>
    <a href="{% link index.html %}" class="my-name rotate">
        Alyssa <span class="highlight-pink">Fusato</span>
    </a>
    <div class="nav-container">
        <a href="{% link index.html %}#home" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="{% link index.html %}#projects" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="{% link index.html %}#gallery" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="{% link index.html %}#about" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <div class="vertical-line"></div>
    </div>
</nav>