<nav>
    <a href="{% link graphic-design.html %}" class="my-name rotate">
        Alyssa <span class="highlight-pink">Fusato</span>
    </a>
    <div class="nav-container">
        <a href="{% link graphic-design.html %}#home" id="circle" class="nav-btn tooltip">
            <span class="tooltiptext">Home</span>
            <i class='lni-home size-sm nav-icon'></i>
            <span><i class='lni-home size-sm nav-icon-span lni-burst-effect'></i></span>
        </a>
        <a href="{% link graphic-design.html %}#graphic-design" id="circle" class="nav-btn tooltip">
            <span class="tooltiptext">Graphic Design</span>
            <i class='lni-bulb size-sm nav-icon'></i>
            <span><i class='lni-bulb size-sm nav-icon-span lni-flashing-effect'></i></span>
        </a>
        <a href="{% link graphic-design.html %}#gallery" id="circle" class="nav-btn tooltip">
            <span class="tooltiptext">UX/UI/Code</span>
            <i class='lni-gallery size-sm nav-icon'></i>
            <span><i class='lni-gallery size-sm nav-icon-span lni-tada-effect'></i></span>
        </a>
        <a href="{% link graphic-design.html %}#about" id="circle" class="nav-btn tooltip">
            <span class="tooltiptext">About</span>
            <i class='lni-emoji-cool size-sm nav-icon'></i>
            <span><i class='lni-emoji-cool size-sm nav-icon-span lni-spin-effect'></i></span>
        </a>
        <div class="vertical-line"></div>
    </div>
</nav>