<nav>
    <a href="#home" class="my-name rotate">
        Alyssa <span class="highlight-pink">Fusato</span>
    </a>
    <div class="nav-container">
        <a href="#home" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="#projects" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="#gallery" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <a href="#about" id="circle" class="nav-btn">
            <i class="nav-icon"></i>
        </a>
        <div class="vertical-line"></div>
    </div>
</nav>