#hero-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}
	
#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}
    
// hero

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	background: url(../assets/images/library_11.gif) center center no-repeat;
	background-size: cover;
}

.hero-header {
    margin-bottom: -30vh;
    margin-right: 2vw;
}

.hero-title,
.hero-title-alt {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: 500;
	line-height: .9;
	color: $dark;
//    font-family: $font-family-secondary;
}

.hero-title-alt {
    color: $primary;
    background-color: $accent;
    display: inline-block;
    padding: 9px 9px 1px 9px;
    font-weight: 700!important;
}
	
@media only screen and (min-width: 32em) { .hero-title { font-size: 14vh; } }	

.hero-footer {
	display: flex;
	margin-bottom: 1em;
}

.button {
	padding: .5em .67em;
	color: white;
	text-decoration: none;
	border: .1em solid white;
}

.button-primary {
	color: black;
	background-color: white;
}

#logo {
    font-weight: 400;
    color: $secondary;
}