// Project Tile
*{
  box-sizing: border-box;
}

h2 {
  padding-left: 38px;
  text-align: center;
}

.projects-section {
  padding: 0;
  margin: 0;
  //padding: 1em;
}


.project-tile {
  margin-bottom: 20em;
  display: flex;
}

.project-icon {
  height: 30em;
  width: 59%;
  min-width: 360px;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-text{
  display: flex;
  flex-direction: column;
  padding: 12em 3em;
  width: 60%;
}

.project-name {
   color: $accent;
  font-size: 1.2em;
  color: #fb517d;
  font-weight: 700;
  margin-bottom: .75em;
  height: 1em;
}

.project-info, .project-desc {
  min-width: 18em;
  max-width: 30em;
}

.status-btn {
  grid-row: 1;
  justify-self: end;
  border: 2px solid #a6808c;
  color: #a6808c;
  padding: .2em .5em;
  text-align: center;
  border-radius: 10px;
  font-size: .75em;
}

// Footer

.footer {
  display: flex;
  padding: 2em 20%;
  /*text-align: center;*/
  background-color: $dark;
  margin-top: 6em;
}

.footer > * {
  color: $primary;
  text-decoration: none;
}

.footer-link{
  margin-left: .5em;
}

.footer-link::after {
  content: "|";
  margin: 0 2em;
  height: 1em;
  width: 2px;
}

