*{  box-sizing: border-box; }

// Projects Section //////////////////////////////////////////////////////////

.site-header{
  text-align: center;
  margin: 12em 14em 8em 14em;
  font-family: $font-primary;
  letter-spacing: 2px;
  font-size: 1.6em;
  border: solid rgb(161, 30, 85) 2px;
  padding: 1em 0em;
  background-color: white;
  color: $accent;
}

.projects-section {
  padding: 0;
  margin: 0;
  //padding: 1em;
}

.project-tile {
  margin-bottom: 16em;
  display: flex;
}

.project-icon {
  height: 30em;
  width: 59%;
  min-width: 360px;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-text{
  display: flex;
  flex-direction: column;
  padding: 10em 3em;
  width: 60%;
}

.project-name {
  font-family: $font-primary;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $hero-bg;
  font-size: 1.4em;
  //color: #fb517d;
  font-weight: 700;
  margin-bottom: .75em;
  height: 1em;
}

.project-info, .project-desc {
  min-width: 18em;
  max-width: 30em;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.62);
}

.status-btn {
  grid-row: 1;
  justify-self: end;
  border: 2px solid #a6808c;
  color: #a6808c;
  padding: .2em .5em;
  text-align: center;
  border-radius: 10px;
  font-size: .75em;
}

//End Projects Section//////////////////////////////////////////////////////////



// Footer //////////////////////////////////////////////////////////

.footer {
  display: flex;
  padding: 4em 20%;
  /*text-align: center;*/
  background-color: $dark;
  margin-top: 6em;
}

.footer > * {
  color: $primary;
  text-decoration: none;
}

.footer-link{
  margin-left: .5em;
}

.footer-link::after {
  content: "|";
  margin: 0 2em;
  height: 1em;
  width: 2px;
}

// End Footer //////////////////////////////////////////////////////////

.preview-sb{
  height: 100%;
  width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.534);
  background: url(../assets/images/starbirdpreview.png) no-repeat; 
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; 
}