html {
  font-family: $font-family-primary;
}

body {
  background-color: $light;
  margin: 0;
}

// main container

#main-container {
  width: 100%;
  min-width: 465px;
  line-height: 1.3em;
  transition: margin-left .5s;
  overflow-x: hidden;
}

.center-container {
  margin-top: 5em;
}



::-webkit-scrollbar {
  width: .5em; }

::-webkit-scrollbar-track {
  background: transparent url("../assets/images/scrollbar.png") repeat-y !important; }

::-webkit-scrollbar-track-piece:end {
  background: transparent url("../assets/images/scrollbar.png") repeat-y !important; }

::-webkit-scrollbar-thumb {
  background-color: $dark; }

