html {
  font-family: $font-secondary;
}

body {
  background-color: $main-color;
  color: rgb(223, 223, 223);
  margin: 0;
}

h1 {
  font-family: "Public Sans", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  color: $highlight-pink;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.75px;
}

.bodytext-2 {
  font-family: "Fira Code", monospace;
  color: $text-secondary;
  font-weight: 300;
  line-height: 1.4;
  font-size: 22px;
}

// main container

#main-container {
  width: auto;
  min-width: 465px;
  line-height: 1.3em;
  transition: margin-left 0.5s;
  overflow-x: hidden;
}

#center-container {
  margin-top: 5em;
}

// 404 page styling

.container-404 {
  padding: 5em 8em;

  h1 {
    font-size: 80px;
    margin: 0px 20px 20px 0px;
    font-weight: 600;
    color: $highlight-dark;
  }

  p {
    display: inline-block;
    font-size: 18px;
    width: 23em;
    span {
      font-size: 28px;
      margin-bottom: 0.5em;
    }
  }

  img {
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    height: 40vh;
    width: auto;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
  margin-right: -0.5em;
}

::-webkit-scrollbar-track {
  background: transparent url("../assets/images/blank.png") repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url("../assets/images/blank.png") repeat-y !important;
}

::-webkit-scrollbar-thumb {
  background-color: $dark;
}
