* {
  box-sizing: border-box;
}

.project-img {
  float: left;
  max-width: 45%;
  height: auto;
  //max-width: 180%;
  letter-spacing: 1.2em;
  object-fit: cover;
}

.project-tile {
  display: flex;
  margin: 5em 0em;
}

.project-name {
  color: rgb(71, 71, 117);
  font-size: 1.75em;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: normal;
  letter-spacing: 0.035em;
  font-weight: bold;
  font-family: "Inter", "Source Sans Pro", sans-serif;
}

.project-text {
  padding: 10em 7em;
  font-size: 20px;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  //padding: 0em 9em 0em 6em;
}

.project-desc {
  color: rgb(56, 56, 56);
  line-height: 1.7em;
  letter-spacing: 0.02em;
}

#Sharebio-img {
  margin-top: -2.8em;
}

// GALLERY 

.gallery-section {
  padding: 0 12em;
  margin: 0;
 // display: flex;
  flex-wrap: wrap;
  //padding: 1em;
  display: flex;
  justify-content: center;
}

.gallery-tile {
  width: 30%;
  margin: .5em -1em;
  display: inline-block;
  align-self: center;
}

.gallery-icon {
  height: 24em;
  width: 25%;
  min-width: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  //display: inline-block;
  padding: .5em;
  margin: .75em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

.gallery-name {
  font-family: $font-primary;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $dark;
  font-size: 1.2em;
  //color: #fb517d;
  font-weight: 700;
  margin-bottom: .75em;
  //height: 1em;
  background-color: beige;
  padding: .5em;
}


// Footer //////////////////////////////////////////////////////////

.footer {
  display: flex;
  padding: 4em 20%;
  /*text-align: center;*/
  background-color: $dark;
  margin-top: 6em;
}

.footer > * {
  color: $primary;
  text-decoration: none;
}

.footer-link{
  margin-left: .5em;
}

.footer-link::after {
  content: "|";
  margin: 0 2em;
  height: 1em;
  width: 2px;
}