.preview-sb{
    width: 15em;
    height: 10em;
    box-shadow: 4px 4px 4px black;
    background: url(../assets/images/starbirdpreview.png) center center no-repeat; 
    background-size: cover;
	background-repeat: no-repeat;
}