// navbar
.mysidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;  
}

.mysidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mysidenav a:hover {
  color: #f1f1f1;
}

.mysidenav .closebtn {
    position: absolute;
    top: 0;
    right: -40px;
    margin-top: .75em;
    color: white;
    background-color: #2ea6af;
    border-radius: 15px;
    width: 260px;
    height: 1.4em;
    text-align: left;
    padding: 0;
    padding-left: 16px;
    font-size: 30px;
}


#open-btn {
    top: 0;
    left: 0;
    position: fixed;
    background-color: $secondary;
    border-radius: 15px;
    width: 240px;
    height: 1.4em;
    text-align: center;
    padding: 5px;
    margin-top: .75em;
    margin-left: -10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*



#navbar {
  font-size: .85em;
  position: fixed;
  display: flex;
  flex-direction: column;
    right: 0;
    top: 0;
    margin-right: .75em;
    margin-top: 3em;
}

#inner-nav {    
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  filter: opacity(70%);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 7px 0;
}

#navbar a {
    padding: .5em;
    text-decoration: none !important;
    color: $dark;
    text-align: center;
}

#navbar a::after {
    height: 2em;
    width: .2em;
    background-color: $accent;
    content: " ";
    display: block;
    margin: auto;
    margin-top: .5em;
}

#navbar a:last-child::after {
    display: none;
}*/