$content-width: 800px;
$primary: #D6EFFF;
$secondary: #2ea6af;
$accent: #fb517d;
$light: #fffdfa;
$dark: #444470;
$hero-bg: #5688ac;
$muted-light: #7C90A0;
$muted-alt: #fffdfa;
$header: #1d1425;
$font-bgcolor: rgb(248, 248, 207); 
$font-primary: 'Lexend Deca', sans-serif;
$font-secondary: 'Inter', sans-serif;

$nav-width: 4em;
$highlight-pink: rgb(255, 67, 155); 
$nav-item-size: 2em;
$pale-purple: rgb(103, 81, 121);
$main-color: rgb(19, 63, 99);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}