.about-container {
  margin-top: 4rem;
  margin-left: 5rem;
  width: 20rem;
  height: 45%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.textbox {
  padding: 1.5rem;
}

.textbox > p {
  line-height: 1.8em;
}

.bg-container {
  overflow: hidden;
  height: 550px;
  width: 100%;
  bottom: 0px;
}

.sliding-background {
  position: absolute;
  background: url("../img/main_bg.png") repeat-x;
  height: 550px;
  width: 12000px;
  animation-name: scrollBg;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -99;
}

.sliding-galaxies {
  position: absolute;
  background: url("../img/galaxy_layer.png") repeat-x;
  height: 550px;
  width: 6000px;
  animation-name: scrollGalaxy;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -98;
}

@keyframes scrollBg {
  100% {
    background-position: -6000px;
  }
}

@keyframes scrollGalaxy {
  100% {
    background-position: -12000px;
  }
}
