<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- CSS, fonts, and icons -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Fira+Code:300,400|Public+Sans:200,300,400,400i,600,700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../assets/images/nest_hover3_iw8_icon.ico" type="image/x-icon">
</head>

<body>
    <!-- Javascript files -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/lightgallery.min.js"></script>
    <script src="../assets/js/lg-thumbnail.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="/assets/js/parallax.min.js"></script>

    {% include sidenav.html %}

    <div id="main-container">
        {{ content }}
        <!-- {% include footer.html %} -->
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#lightgallery").lightGallery({
            selector: '.gallery-link',
            thumbnail: false,
            animateThumb: false,
            showThumbByDefault: false
        });

        var slideDown = {
            interval: 60,
            distance: '50px',
            delay: 10,
            origin: 'top',
            opacity: 0,
            duration: 800,
            easing: 'ease-in-out'
        }

        var slowSlide = {
            interval: 150,
            distance: '80px',
            delay: 150,
            origin: 'top',
            opacity: 0,
            duration: 1000,
            easing: 'ease-in-out'
        }

        var easeIn = {
            interval: 60,
            distance: '10px',
            delay: 10,
            origin: 'top',
            opacity: 0,
            duration: 1000,
            easing: 'ease-out',
            reset: true,
        }

        ScrollReveal().reveal('.gallery-item', slideDown);
        ScrollReveal().reveal('.project-item', slideDown);
        ScrollReveal().reveal('.slowSlide', slowSlide);
        ScrollReveal().reveal('.slideDown', easeIn);

        var scene = document.getElementById('home');
        var parallaxInstance = new Parallax(home);
    });
</script>

</html>